.buttonCartStyle {
    position: relative;
}

.buttonStyle {
    background: none;
	color: inherit;
	border: none;
    cursor: pointer;
	font: inherit;	
    outline: inherit;
	padding: 0;
    position: absolute;
}

.iconCartStyle {
    color: #fff;
    font-size: 30px;
}

.productsCountStyle {
    position: absolute;
    display: block;
    top: -10px;
    left: 30px;    
    color: #fff;
    border-radius: 50%;
}

@media(max-width: 768px) {
    .buttonStyle {
        position: relative;
    }
}