.navbar {
    background-color: #25c16a !important;    
    padding: 15px;
    width: 100%;
}


.responsiveButton {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.responsiveSearchButton {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.headerBox {
    background-color: #25c16a;
    height: 90px;
    width: 100%;
    transition: all 300ms;
}
.containerBox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 15px;
    width: 90%;
}
.logoBox {
    width: 20%;
    align-self: center;
}
.logo {
    width: 150px;
}
.searchContent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-left: 100px;
    width: 80%;
}

.responsiveSearchBox {
    padding-right: 10px;
    display: none;
}

.searchBoxResponsive {
    width: 80%;
    align-self: center;
    display: none;
    padding-bottom: 15px;
}

.searchIcon {
    color: #999595;
    padding: 10px 15px;
    position: absolute;
    right: 0;
}
.responsiveSearchIcon {
    color: #fff;
    font-size: 30px;
}

.responsiveIconBox {
    display: none;
}
.responsiveIconMenu {
    color: #fff;
    font-size: 36px;
}
@media (max-width: 992px) {
    .searchContent {
        padding-left: 50px;
   }
}
@media (max-width: 768px) {
    .headerBox {
        display: flex;
        flex-flow: column wrap;
        height: auto;
   }
    .containerBox {
        padding: 20px;
   }
    .searchContent {
        width: 50%;
        justify-content: flex-end;
   }
    .responsiveIconBox {
        display: block;
   }
    .searchBox {
        display: none;
   }
    .profileBox {
        display: none;
   }
    .logoBox {
        width: 50%;
   }
    .responsiveSearchBox {
        display: block;
   }
    .profileResponsiveBox {
        display: block;
   }
}
@media (max-width: 412px) {
    .searchContent {
        padding-left: 10px;
   }
}


